#istore{
  border-radius: 0%;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 25px;
  position:relative;
}

#iprint{
  border-radius: 0%;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 25px;
  position:relative;
}

#ilocker{
  border-radius: 0%;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 25px;
  position:relative;
}

#ihardware{
  border-radius: 0%;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 25px;
  position:relative;
}

#imonitor{
  border-radius: 0%;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 25px;
  position:relative;
}

#ip3d{
  border-radius: 0%;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 25px;
  position:relative;
}
