#Lstore{
  background-color: red;
}

.services-icons-Cstore:hover{
	border: 10px solid red;
}

#Lprint{
  background-color: orange;
}

.services-icons-Cprint:hover{
	border: 10px solid orange;
}

#Llocker{
  background-color: green;
}

.services-icons-Clocker:hover{
	border: 10px solid green;
}

#Lhardware{
  background-color: lightblue;
}

.services-icons-Chardware:hover{
	border: 10px solid lightblue;
}

#Lmonitor{
  background-color: #0AB1F4;
}

.services-icons-Cmonitor:hover{
	border: 10px solid #0AB1F4;
}

#Lp3d{
  background-color: purple;
}

.services-icons-Cp3d:hover{
	border: 10px solid purple;
}
